:root{
    --colmarca:#0a6075;
    --coltexto: #000;
    --titulo: 2.8rem;
    --titulo2: 2.4rem;
    --titulo3: 2rem;
    --texto: 1.8rem;
    --lista: 2rem;
    --intro: 1.6rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 62.5%;
}
body {
    font-family: Arial, sans-serif;
    font-size: var(--texto);
    margin: 0;
    padding: 0;
    background-color: white;
    color: var(--colmarca);
}
  
header {
    background-color: #033845;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

header img{
    width: 16px;
    height: 16px;
}

  
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
nav ul li {
    font-size: var(--lista);
    margin: 0 15px;
}
  
nav a {
    color: white;
    text-decoration: none;
}

h1{
    font-size: var(--titulo);
}
h2{
    font-size: var(--titulo2);
}

h3{
    font-size: var(--titulo3);  
}
h1, h2, h3{
    margin-top: 8px;
    text-align: center;
    margin-bottom: 8px;
}
  
p{
    font-size: var(--texto);
    color: var(--coltexto);
    text-align: justify;
}

b{
    font-size: var(--texto);
    font-weight: bold;
}

iframe{
    width: 90vw;
    aspect-ratio: 16/9;
    margin-bottom: 10px;
}
  
button {
    background-color: var(--colmarca);
    color:  white;
    border: none;
    margin-top: 16px;
    padding: 10px 20px;
    cursor: pointer;
}
  
button:hover {
    background-color: #f0f4f8;
}
  
footer {
    background-color: #033845;
    text-align: center;
    padding: 10px;
}
footer p{
    color: #f0f4f8;
    text-align: center;
    font-size: 1.2rem;
}

/* inicio */

.hero {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hero img{
    width: 100%;
}
.redes{
    margin-top: 8px;
    text-align: center;
}
.socmed{
    text-align: center;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.botoncontacto{
    border-radius: 20px;
    background-color: rgb(70, 175, 80);
    width: 40vw;
    margin: 0 auto;
}
.botoncontacto img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.text{
    align-content: center;
    text-align: center;
    margin: 0 50px 10px 50px
}
.text h3{
    margin: 10px auto 10px;
}

.serv1{
    display: grid
}
.serv1 img{
    justify-self: center;
    width: 80vw;
} 
#back{
    background-image:url('./media/assets/bienve.jpg');
    background-size: contain;
    background-position-y: 25px;
}
#back2{
        background-image:url('./media/assets/back2.jpg');
        background-position: center;
}
#back3{
    background-image:url('https://images.pexels.com/photos/3764205/pexels-photo-3764205.jpeg');
    background-position: right;
}

#back4{
    background-image:url('./media/assets/equipo.jpg');
    background-position: left;
}
#back2,#back3,#back4{
    background-size: cover;
}
#back, #back2, #back3, #back4{
    background-attachment:fixed;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    padding-top: 80px;
    height: 45vh;
}

#inicio p{
    color: black;
}
#servicios ul{
    list-style: none;
    padding: 0;
    justify-content: center;
}

#servicios ul li{
    font-size: var(--texto);
    margin: 0 15px;
}

#contacto img{
    width: 16px;
    height: 16px;
}

#contacto a{
    font-size: var(--texto);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: black;
}

#contacto p{
    font-size: var(--texto);
}

/* blog */

.blog h2{
    border-top: 1px solid var(--colmarca);
    margin-top: 12px;
    padding-top: 8px;
}

.blog a{
    justify-content: center;
    font-size: 1.2rem;
    text-decoration: none;
}

.cajablog{
    display: flex;
}
.cajablog p{
    width: 40vw;
}
.cajablog img{
    width: 40vw;
    object-fit: contain;
}
.cajaindice{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
.cajaindice h4{
    text-align: center;
    font-size: 1.6rem;
}
.cajaindice ul{
    text-align: center;
    width: 50vw;
    padding:10px 0;
    background-color: #0a60753f;
    border-radius: 20px;
}
.cajaindice li{
    list-style: none;
    margin:5px 0;
}
.cajaindice a{
    color: #000;
    
}
/* articulos */
.botonwa{
    display: grid;
}
.botonwa button{
    border-radius: 20px;
    margin: 0 auto;
}

.botonwa img{
    width: 16px;
}

.botonwa a{
    font-size: var(--texto);
    color: white;
}

.icof{
    width: 20px;
    aspect-ratio: 1/1;
}

article{
    margin: 0 20px;
}

article h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

article img{
    width: 90vw;
}

article p{
    margin-top: 15px;
}

figcaption{
    font-size: 1rem;
}

.intro p{
    text-align: center;
    color: gray;
    font-weight: lighter;
    font-style: italic;
    font-size: var(--intro);
}

.compartir{
    width: 80vw;
    display: grid;
    justify-content: center;
    margin: 10px auto;
    border-radius: 20px;
    background-color: #03384549;
    
}

.compartir p{
    text-align: center;
}

.compartir a,img{
    margin: 0 auto;
    font-size: var(--lista);
    align-items: center;
}

@media (min-width: 768px) {
    header{
        display: grid;
        justify-content: flex-start;
        align-items: center;
        grid-template-columns: 1fr 2fr 3fr 4fr;
    }
    iframe{
        width: 560px;
        height: 315px;
        margin: 10px auto;
    }
    .video{
        display: grid;
    }
    .screen, .screen2{
        display: flex;
    }
    .screen2{
        flex-direction: row-reverse;
    }

    .hero{
        width: 50vw;
    }

    .serv1{
        display: flex;
    }
    
    #back2{
        background-size: contain;
        background-position: right;
    }
    #back3{
        background-position: left;
    }
    #back4{ 
        background-position: right;
    }

    #back,#back3,#back4{
        background-size: 50%;
    }

    #back,#back2,#back3,#back4{
        width: 50vw;
        height: 60vh;
    }
    
    #her3{
        margin: 0 auto;
        width: 50vw;
        justify-items: center;
        line-height: 3rem;
    }
    
    #contacto{
        justify-self: center;
        width: 50vw;
    }

    #servicios h2{
        align-items: center;
    }

    .text{
        align-content: center;
        text-align: center;
        padding: 50px;
    }

    .serv1 img{
        width: 50vw;
    } 

    article img{
        width: 45vw;
    }
    .periodico{
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
    .cajablog{
        display: block;
        justify-self: center;
    }
}