:root{
    --colmarca:#033845;
    --coltexto: #000;
    --coltextob: #fff;
    --titulo: 4rem;
    --titulo2: 2.8rem;
    --titulo3: 2.4rem;
    --titulo4: 2rem;
    --texto: 1.8rem;
    --lista: 2rem;
    --intro: 1.6rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 62.5%;
}
body {
    font-family: Arial, sans-serif;
    font-size: var(--texto);
    background-color: var(--coltextob);
    color: var(--colmarca);
}
/*header*/
header {
    background-color: var(--colmarca);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

header img{
    width: 24px;
    height: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
nav li {
    font-size: var(--lista);
    margin: 0 15px;
}
  
nav a {
    color: var(--coltextob);
    text-decoration: none;
}

h1, h2, h3,h4{
    margin-top: 8px;
    text-align: center;
    margin-bottom: 8px;
    
}
h1{
    font-size: var(--titulo);
}
h2{
    font-size: var(--titulo2);
}

h3{
    font-size: var(--titulo3);  
}
h4,h5{
    font-size: var(--titulo4);
}
  
p{
    font-size: var(--texto);
    color: var(--coltexto);
    text-align: center;
}

.hero{
    text-align: center;
    color: white;
    position: relative;
    height: 300px;
    background-image: url(./media/assets/inicio.webp);
    background-repeat: no-repeat;
    background-color: #005b75;
}
.hero-subtitle, .hero-subtitle strong{
    margin: 24px 0;
    color: var(--coltextob);
    font-size: 1.6rem;
    background-color: #033845ab;
}
    
.hero-benefits{
    font-size: 1.6rem;
}
.hero h1{
    margin: 0;
    font-size: 2.8rem;
}

.hero-benefits{
    font-size: 1.6rem;
    margin: 12px 20%;
}
.cta-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
.cta-buttons a{
    text-decoration: none;
    color: var(--coltextob);
    background-color: var(--colmarca);
    padding: 10px 20px;
    border-radius: 16px;
    font-size: 1.2rem;
}
.problems-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin: 20px;
}
.problem-card{
    background-color: #c5c5c5;
    padding: 15px;
    border-radius: 16px;
    text-align: center;
}
/*oferta*/
.oferta{
    background-color: var(--colmarca);
    color: white;
    padding-bottom: 10px;
}
.botonesoferta{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    gap: 15px;
}
.boton{
    width: 30vw;
    aspect-ratio: 1/1;
    background-color: white;
    text-align: center;
    border-radius: 16px;
}

.boton a{
    text-decoration: none;
    color: #033845;
}

.boton img{
    width: 115px;
    border-radius: 12px;
    aspect-ratio: 1/1;
}
.pboton{
    font-size: 1.2rem;
}
/*servicios*/
.servicios p{
    text-align: justify;
    margin: 5px 15px;
}
.servicios img{
    width: 425px;
    height: 283.33px;
}
/*Contacto*/
.contacto{
    justify-items: center;
}
.contacto li{
    font-size: var(--texto);
}
.contacto a{
 text-decoration: none;
}
.contacto a img{
    width: 16px;
    aspect-ratio: 1/1;
    margin: 5px 20px;
}

/*footer*/
footer {
    background-color:var(--colmarca);
    text-align: center;
    padding: 10px;
}
footer p{
    color: var(--coltextob);
    text-align: center;
    font-size: 1.2rem;
}


/* blog */

/*blog indice*/
.cajaindice{
    justify-self: center;
}
.cajaindice h4{
    text-align: center;
    font-size: 1.6rem;
}
.cajaindice ul{
    text-align: center;
    width: 90vw;
    padding:10px 0;
    background-color: #0a60753f;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
.cajaindice li{
    list-style: none;
    margin:10px 5px;
    border-right: 1px solid white;
    padding-right: 10px;
    text-align: left;
}
.cajaindice a{
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
}
/*blog articulos*/
.cajablog{
    display: flex;
    gap: 10px;
}
.cajablog p{
    width: 50vw;
    font-size: 1.6rem;
}
.cajablog img{
    width: 148.75px;
    height: 99.16px;
    object-fit: contain;
}

.articleblog{
    display: grid;
    margin-top: 20px;
}

.blog a{
    margin: 5px auto;
    text-decoration: none;
    background-color: var(--colmarca);
    width: 30vw;
    color: var(--coltextob);
    font-size: var(--texto);
    border-radius: 16px;
}

/* articulos */
.botonwa{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    background-color: var(--colmarca);
    width: 200px;
    height: 28px;
    border-radius: 16px;  
 }
 .botonwa a, .botonwa p{
     font-size: var(--texto);
     text-decoration: none;
     display: flex;
     gap: 15px;
     align-items: center;
     color: var(--coltextob);
 }
 .botonwa a img{
     width: 15px;
     height: 15px;
 }

article{
    margin: 0 20px;
}
article p{
    text-align: justify;
}
article li, .detalle li{
    font-size: var(--texto);
    color: var(--coltexto);
}
article b{
    font-weight: bolder;
    font-size: var(--texto);
}

article p{
    margin: 1rem 0 .5rem;
}

article figure img{
    width: 380px;
    height: 253.33px;
}

.resaltado{
    background-color: #046d805e;
    border-radius: 16px;
    /* color: white; */
    padding: 12px;
}

figcaption{
    font-size: 1rem;
}

.intro p{
    text-align: center;
    color: rgb(83, 82, 82);
    font-style: italic;
    font-size: var(--intro);
}

.video{
    display: flex;
    flex-direction: column;
}
.video iframe{
    margin: 0 auto;
    width: 380px;
    height: 213.85px;
}

.uxvideo{
    flex-wrap: wrap;
}
.uxvideo a img{
    display: block;
    justify-self: center;
    width: 25%;
    margin-top: 10px;
    display: block;
}

.uxvideo p a{
    display: block;
    width: 100%;
    color:var(--colmarca);
    text-decoration:none;
}

.faq-visible{
    background-color: #0568aa56;
    padding: 20px;
}

.faq-visible h3{
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.faq-visible p{
    font-size: 1.6rem;
}

.linkinterno{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.linkinterno a{
    text-decoration: none;
    color: var(--colmarca);
    font-size: 1.6rem;
}

.linkinterno li{
    list-style: none;
}

.compartir{
    width: 100%;
    display: flex;
    gap: 5px;
    border-top: 1px solid black ;
    border-bottom: 1px solid black;
    align-items:center;
    justify-content: space-between;

}

.icocontenido{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.compartir p,a{
    text-align: center;
    font-size: 1rem;
}

.compartir a img{
    width: 16px;
    aspect-ratio: 1/1;
    margin: 0 10px 0 0;
    align-items: center;
}

.recomendaciones{
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-right: 10px;
    margin-left: 10px;
}

.recomendado {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.recomendado img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.recomendado h4 {
    margin: 0 0 5px;
    font-size: 1.2rem;
}

.recomendado p{
    margin: 0;
    font-size: 1rem;
} 
.recomendado a{
    font-size: .8rem;
}

.autor{
    background-color: #033845;
    width: 50%;
    border-radius: 16px;
    margin: 20px auto;
    color: white;
    text-align: center;
}

.autor p{
    padding: 10px;
    color: gray;
    text-align: center;
}
/*Tecnicas*/
#busqueda{
    font-size: 3rem;
    justify-items: center;
}
@media (min-width: 768px) {
    header{
        display: grid;
        justify-content: flex-start;
        align-items: center;
        grid-template-columns: 1fr 2fr 3fr 4fr;
    }
    .hero{
        align-content: center;
        background-image: url('./media/assets/iniciog.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: top ;
        height: 320px;
    }
    .hero-subtitle, .hero-subtitle strong{
        width: 40vw;
        margin: 120px auto 0;
        color: var(--coltextob);
        font-size: 1.6rem;
        background-color: #03384500;
    }
    
    .serviciosgrande{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .izquierda{
        width: 50vw;
    }

    .nosotros{
        width: 80vw;
        margin: 0 auto;
    }

    .boton img{
        width: 400px;
    }

    .cajablog img{
        width: 300px;
        height: auto;
        object-fit: contain;
    }

    article figure img{
        width: 648px;
        height: 432px;
    }
    .periodico{
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
    .video iframe{
        width: 1024px;
        height: 576px;
    }
    .cajablog{
        width: 50vw;
        justify-self: center;
    }
    .recomendado img{
        width: 144px;
        height: 96px;
    }
}